<div class="project-meta">

  <div class="info">
    
    <span class="date">
      {{ project.createdAt | date: 'longDate' }}
    </span>
  </div>  

  <h1>{{ project.title }}</h1>

  <div class="row ">

    <div class="col-xs-12 ">

      <figure class="profile profile-inline align-vertical-center">

        <a [routerLink]="['/profile', project.author.username]">

          <img class="bg img-responsive img-circle" [src]="project.author.image" />

        </a>

        <a class="author"
        [routerLink]="['/profile', project.author.username]">
        {{ project.author.username }}
        </a>
        
      </figure>      

    </div>

  </div>

  <hr/>

  <ng-content></ng-content>

</div>
