<project-preview
  *ngFor="let project of results"
  [project]="project">
</project-preview>

<div class="project-preview"
  [hidden]="!loading">
  Loading projects...
</div>

<div class="project-preview"
  [hidden]="loading || results.length">
  No projects are here... yet.
</div>

<nav [hidden]="loading || totalPages <= 1">
  <ul class="pagination">

    <li class="page-item"
      [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">

      <a class="page-link" href="#">{{ pageNumber }}</a>

    </li>

  </ul>
</nav>
