.my-header {
  transition: background-color 500ms ease-out;
  background: transparent;
  border-radius: 0;
  width: 100%;
  border: none !important;
  box-shadow: none !important;
}
@media only screen and (min-width: 767px) {
  .my-header {
    padding: .5rem 5rem;
  }
}
.my-header a, .my-header a:hover {
  color: white;
}
.my-header .title {
  font-size: 1.5rem;
  font-weight: 100;
  float: left;
  margin-left: 6px;
}
.my-header .title .title1 {
  color: #e4e4e4;
  float: left;
}
.my-header .title .title2 {
  color: #e4e4e4;
  float: left;
}
.my-header .search {
  color: white;
}
.my-header .search .input {
  background: transparent;
  color: white;
}
.my-header .search .input .prompt {
  background: transparent;
  border: 1px solid green;
  border-radius: 6px;
  color: white;
}
.my-header .travel {
  color: #11e18b;
}
.my-header .logo {
  width: 2rem !important;
  margin-right: 0.5rem !important;
}
.my-header .item::before {
  background: none !important;
}
.page-scroll-header {
  background-color: #fafafa !important;
  color: gray !important;
  border-bottom: .5px solid lightgrey !important;
}
.page-scroll-header .item.login {
  color: #323232 !important;
}
.page-scroll-header .title1, .page-scroll-header .nav-link {
  color: #323232 !important;
}
.avatar {
  border: 2px solid #e78b90;
}

.nav-btn{

  color: gray;
  float: right;
}

@media(max-width: 770px){

  .my-header {
    
    background-color: #fafafa !important;
  }

  .my-header .title .title1 {
    color: gray !important;
  }
  
  .nav{
    width: 100%;
    margin-top: 10px;
  }

  .nav-item{
    width: 100%;
    text-align: center;
    z-index: 1010;
    float: right;
    align-items: center;
  }

  .nav-link .user-pic {
    
    float: inherit;
  }

  .nav-item a{

    color: gray!important;
  }

}
