
<nav class="navbar navbar-fixed-top my-header" [ngClass]= "{'page-scroll-header': isScrolled}">

  <div class="container">

    <a class="item" [routerLink]="['/']">
      
      <!-- <img class="logo" src="assets/images/logo.png"> -->
      <div class="title">
        <div class="title1">place!</div>
      </div>

    </a>

    <button class="nav-btn navbar-toggler hidden-md-up" type="button" data-toggle="collapse" href="#collapseExample" >
      &#9776;
    </button>
   
    <div class="collapse navbar-toggleable-sm" id="collapseExample">

      <!-- Show this for logged out users -->
      <ul *showAuthed="false"
        class="nav navbar-nav pull-xs-right">

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/">
            Inicio
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/login"
            routerLinkActive="active">
            Entrar
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/register"
            routerLinkActive="active">
            Registre-se
          </a>
        </li>

      </ul>

      <!-- Show this for logged in users -->
      <ul *showAuthed="true"
        class="nav navbar-nav pull-xs-right">

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Inicio
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/editor"
            routerLinkActive="active">
            <i class="ion-compose"></i>&nbsp;Novo Projeto
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/settings"
            routerLinkActive="active">
            <i class="ion-gear-a"></i>&nbsp;Configurações
          </a>
        </li>

        <li class="nav-item" >
          <a class="nav-link"
            [routerLink]="['/profile', currentUser.username]"
            routerLinkActive="active">
            <img [src]="currentUser.image " *ngIf="currentUser.image" class="user-pic" />
            {{ currentUser.username  }}
          </a>
        </li>

      </ul>

    </div>

  </div>

</nav>
