.navbar{

	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.2);
}

.nav-link{

	color: #fff;

}

.nav-link:hover{

	color: #5CB85C;
	transition: all .4s ease;
}

.navbar-brand {
   
    color: #fff !important;
    font-style: italic;
}

