<div class="project-page">

  <div class="banner" >
    <div class="container" [ngStyle]="changeBackground()">
      <h1>{{ project.title }}</h1> 

      <project-meta [project]="project">

          <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor', project.slug]">
            <i class="ion-edit"></i> Editar Projeto
          </a>

        <app-file-upload 
          projectId="100" 
          sectionId="107"
          [projectSlug]="project.slug"
          class="btn btn-sm btn-outline-primary" 
          maxFiles="1"
          maxSize="2"
          fileExt="JPG, GIF, PNG"
          (uploadStatus)="refreshImages($event)" >
        </app-file-upload> 

          <button class="btn btn-sm btn-outline-danger"
            [ngClass]="{disabled: isDeleting}"
            (click)="deleteProject()">
            <i class="ion-trash-a"></i> Deletar Projeto
          </button>

          
        </span>

        <span [hidden]="canModify">
          <follow-button
            [profile]="project.author"
            (onToggle)="onToggleFollowing($event)">
          </follow-button>

          <favorite-button
            [project]="project"
            (onToggle)="onToggleFavorite($event)">
            {{ project.favorited ? 'Unfavorite' : 'Favorite' }} Projeto <span class="counter">({{ project.favoritesCount }})</span>
          </favorite-button>
        </span>

      </project-meta>
    </div>
  </div>

  <div class="container page">

    <div class="row project-content">
      <div class="col-md-12">

        <div [innerHTML]="project.body | markdown"></div>

        <ul class="tag-list">
          <li *ngFor="let tag of project.tagList"
            class="tag  -default tag-pill tag-outline">
            {{ tag }}
          </li>
        </ul>

      </div>
    </div>

    <hr />

    <div class="project-actions">
      <project-meta [project]="project">

          <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor', project.slug]">
            <i class="ion-edit"></i> Editar Projeto
          </a>

          <button class="btn btn-sm btn-outline-danger"
            [ngClass]="{disabled: isDeleting}"
            (click)="deleteProject()">
            <i class="ion-trash-a"></i> Deletar Projeto
          </button>
        </span>

        <span [hidden]="canModify">
          <follow-button
            [profile]="project.author"
            (onToggle)="onToggleFollowing($event)">
          </follow-button>

          <favorite-button
            [project]="project"
            (onToggle)="onToggleFavorite($event)">
            {{ project.favorited ? 'Unfavorite' : 'Favorite' }} Projeto <span class="counter">({{ project.favoritesCount }})</span>
          </favorite-button>
        </span>

      </project-meta>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <div *showAuthed="true">
          <list-errors [errors]="commentFormErrors"></list-errors>
          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset [disabled]="isSubmitting">
              <div class="card-block">
                <textarea class="form-control"
                  placeholder="Write a comment..."
                  rows="3"
                  [formControl]="commentControl"
                ></textarea>
              </div>
              <div class="card-footer">
                <img [src]="currentUser.image" class="comment-author-img" />
                <button class="btn btn-sm btn-primary" type="submit">
                 Deixar Comentário
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <div *showAuthed="false">
          <a [routerLink]="['/login']">Entre</a> ou <a [routerLink]="['/register']">cadastre-se</a> para comentar neste projeto.
        </div>

        <project-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          (deleteComment)="onDeleteComment(comment)">
        </project-comment>

      </div>
    </div>

  </div>
</div>
