<div class="card">

  <div class="card-block">
    <p class="card-text">
      {{ comment.body }}
    </p>
  </div>

  <div class="card-footer">

    <div class="row">

      <div class="col-xs-12 align-vertical-center">

        <a class="comment-author" [routerLink]="['/profile', comment.author.username]">
          <img [src]="comment.author.image" class="comment-author-img img-responsive img-circle" width="50" height="50"/>
        </a>        

        <div class="detalhes-autor">

          <a class="comment-author" [routerLink]="['/profile', comment.author.username]">
            {{ comment.author.username }}
          </a>

          <span class="date-posted">
            {{ comment.createdAt | date: 'longDate' }}
          </span>
          
          <span class="mod-options" [hidden]="!canModify">
            <i class="ion-trash-a" (click)="deleteClicked()"></i>
          </span>

        </div>

      </div>

    </div>

  </div>

</div>
