
<div class="background-img-menor" style="background: url('./assets/images/homewallpaper.jpg') no-repeat center center; background-size: cover;"></div>
<div class="project-page container">
    
  <br><br><br><br>
     
  <div class="container">

    <div class="row">

      <div class="col-sm-12 col-md-6">

        <div class="background" [ngStyle]="changeBackground()"></div>

        <br>
        
        <ul class="tag-list">
          <li class="tag-default tag-pill tag-outline"
            *ngFor="let tag of project.tagList">
            {{ tag }}
          </li>
        </ul>
        
      </div>

      <div class="col-sm-12 col-md-6">

        <project-meta [project]="project">

          <!--Funções caso seja proprio projeto-->
          <span [hidden]="!canModify">
          
            <a class="btn btn-sm btn-outline-secondary"
               [routerLink]="['/editor', project.slug]">
              <i class="ion-edit"></i> Editar Projeto
            </a>

            <app-file-upload 
              projectId="100" 
              sectionId="107"
              [projectSlug]="project.slug"
              class="btn btn-sm btn-outline-primary" 
              maxFiles="1"
              maxSize="2"
              fileExt="JPG, GIF, PNG"
              (uploadStatus)="refreshImages($event)" >
            </app-file-upload> 

            <button class="btn btn-sm btn-outline-danger"
              [ngClass]="{disabled: isDeleting}"
              (click)="deleteProject()">
              <i class="ion-trash-a"></i> Deletar Projeto
            </button>

            
          </span>


          <!-- SEGUIR E FAVORITAR-->
          <span [hidden]="canModify">
            <follow-button
              [profile]="project.author"
              (onToggle)="onToggleFollowing($event)">
            </follow-button>

            <favorite-button
              [project]="project"
              (onToggle)="onToggleFavorite($event)">
              {{ project.favorited ? 'Desfavoritar' : 'Favoritar' }} Projeto <span class="counter">({{ project.favoritesCount }})</span>
            </favorite-button>
          </span>

        </project-meta>

        <br>

        <!-- DESCRIÇAO PROJETO-->
        <div [innerHTML]="project.body | markdown"></div>

          <div *showAuthed="false">

            <a [routerLink]="['/login']">Entre</a> ou <a [routerLink]="['/register']">cadastre-se</a> para comentar neste projeto.

          </div>
        
      </div>

    </div>
    
  </div>
  
  <div class="container">

    <hr/>

    <!-- BARRA DE COMENTARIO -->
    <div *showAuthed="true">

      <list-errors [errors]="commentFormErrors"></list-errors>

      <form class="card comment-form" (ngSubmit)="addComment()">

        <fieldset [disabled]="isSubmitting">

          <div class="card-block">
            <textarea class="form-control"
              placeholder="Write a comment..."
              rows="3"
              [formControl]="commentControl"
            ></textarea>
          </div>

        </fieldset>

      </form>

    </div>

    <!-- DEIXAR COMENTARIO -->
    <div *showAuthed="true" class="card-footer">

      <img [src]="currentUser.image" class="comment-author-img img-responsive img-circle" width="50" height="50" />

      <button class="btn btn-sm btn-primary" type="submit">
       Deixar Comentário
      </button>

    </div>

    <br>

    <!-- COMENTARIOS -->
    <project-comment
      *ngFor="let comment of comments"
      [comment]="comment"
      (deleteComment)="onDeleteComment(comment)">
      
    </project-comment>

  </div>

</div>
<app-aside-buttons>

</app-aside-buttons>