<div class="background-img-menor" style="background: url('./assets/images/homewallpaper.jpg') no-repeat center center; background-size: cover;"></div>
<div class="qlt-confirmation">
  <div class="panel panel-default">
    <div class="panel-body">
      
      <img src="https://cdn4.iconfinder.com/data/icons/social-communication/142/open_mail_letter-512.png" style="width:30px; height: 30px;">
        <p class="desc">Obrigado por se registrar!<br>Nós enviamos um link de confirmação para o seu email.<br>Por favor visite seu <img style="width: 40px; height: 40px" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-business/080840-glossy-black-icon-business-mailbox.png">.</p>
      
      
      <!-- <p class="notice">Nota:<br>usando nosso <b>login com facebook</b>, será pedido a você seu email durante a autenticação. Isto faz parte da nossa política de segurança.</p> -->
    </div>
</div>
</div>