<div class="home-page">

  <div class="banner" *showAuthed="false">
    <div class="container">
      <h1 class="logo-font" style="font-size: 300;">place!</h1>
      
      <p>Plataforma Colaborativa de Estimulo à Inovação.</p>
    </div>
  </div>
 
  <div class="container page">
      <h1><img [src]="placeLogo"></h1>
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': listConfig.type === 'feed'}"
                 (click)="setListTo('feed')">
                 Seu Feed
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}"
                 (click)="setListTo('all')">
                 Feed Global
              </a>
            </li>
            <li class="nav-item" [hidden]="!listConfig.filters.tag">
              <a class="nav-link active">
                <i class="ion-pound"></i> {{ listConfig.filters.tag }}
              </a>
            </li>
          </ul>
        </div>
        <project-list [limit]="10" [config]="listConfig"></project-list>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Tags Populares</p>

          <div class="tag-list">
            <a href="#"
               *ngFor="let tag of tags"
               (click)="setListTo('all', {tag: tag})"
               class="tag-default tag-pill">
               {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">
            Carregando tags...
          </div>

          <div [hidden]="!tagsLoaded || tags.length">
            Nenhuma tag cadastrada... ainda.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
