.nav-link {
  cursor:pointer;
}
.text-center{
	text-align: center;
}

.btn{

	border: 2px solid #fff;
	border-radius: 25px;
	color: #fff;
	margin: 5% 0;
}

.btn:hover{

	background-color: #5CB85C;
	border: 2px solid #5CB85C;
	transition: all .4s ease;

}

